numpy
PyYAML>=6.0
jsonlines
python-dotenv
wandb
openai>=1.0
requests
tiktoken
hnswlib
rank_bm25
scikit-learn
torch
transformers>=4.34.1
huggingface_hub>=0.20
accelerate
tenacity
tqdm
scienceworld
alfworld
